body{
	background:linear-gradient(70deg,#0b0b0b, #afb3bc);
}

#container{
	height:800px;
	width: 800px;
	border: 1px solid black;
	margin:auto;
	background-color:#edb3d6;
	margin-top:20px;
}
.sq{
	border: none;
	background-color: #edb3d6;
	outline: 1px solid black;
	display: inline-block;
	
	
}
button{
	margin-top:20px;
	
}